<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mitto.DisplayPowerOff.Properties.HotKey" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="mitto.DisplayPowerOff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DisplayPowerOff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <mitto.DisplayPowerOff.Properties.HotKey>
            <setting name="isRunNowHotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isRunHotKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunNowKeys" serializeAs="String">
                <value />
            </setting>
            <setting name="RunKeys" serializeAs="String">
                <value />
            </setting>
            <setting name="RunNowModKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RunModKey" serializeAs="String">
                <value>0</value>
            </setting>
        </mitto.DisplayPowerOff.Properties.HotKey>
        <mitto.DisplayPowerOff.Properties.Settings>
            <setting name="countdownTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="formSize" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="isTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isButtonOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isCountdownTopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isForceRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isShowInTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isSaveWindowPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="buttonFont" serializeAs="String">
                <value>Georgia, 14.25pt, style=Bold</value>
            </setting>
            <setting name="isGlobalHotKeyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </mitto.DisplayPowerOff.Properties.Settings>
        <!--<DisplayPowerOff.Properties.Settings>
            <setting name="countdownTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="formSize" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="isTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isButtonOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isCountdownTopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isForceRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isShowInTaskbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isSaveWindowPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="buttonFont" serializeAs="String">
                <value>Georgia, 14.25pt, style=Bold</value>
            </setting>
        </DisplayPowerOff.Properties.Settings>-->
    </userSettings>
</configuration>